<!DOCTYPE html>
<html>
<head>
    <title>
        Form
    </title>
</head>

<body>
    <h1><%= topicHead %></h1>
    <form name="form1" method="POST" action="/addUser">
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="fname"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lname"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="save"></td>
            </tr>
        </table>
    </form>
    <% if(userValue!=null) { %>
        <div>Data Entered as: <%= userValue.first %> <%= userValue.last %></div>
    <% } %>
</body>

</html>